body {
  font-family: 'arial', Times, serif, sans-serif;
  background-color:#f6f8fa;
  color: hwb(0 3% 97%);
    padding: 20px;

}

h1, h2 {
  color: hsl(200, 58%, 72%);
  font-weight: bold;
  margin-top: 40px;


}

.navbar {
  margin-bottom: 20px;
  background-color: #9bc4e8;
  border-radius: 0 0 20px 20px;
}
.card{
  border: radius 16px; 
border: none;
}
.perfil-img {
  border: 4px solid #85a1e3;
  box-shadow: 0 4px 32px rgba(54,88,167,0.2);
  object-fit: cover;
   object-position: center center;
  height: 140px;
  width: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
    background: linear-gradient(135deg, #f6f8fa 60%, #e0e7ff 100%);
  padding: 8px;
}
