body {
  font-family: 'arial', Times, serif, sans-serif;
  color: hwb(0 3% 97%);
    padding: 20px;

}

h1, h2 {
  color: hsl(200, 58%, 72%);
  font-weight: bold;
  margin-top: 40px;


}

.navbar {
  margin-bottom: 20px;
  background-color: #9bc4e8;
  border-radius: 0 0 20px 20px;
}
.card{
  border: radius 16px; 
border: none;
}
.perfil-img {
  border: 4px solid #85a1e3;
  box-shadow: 0 4px 32px rgba(54,88,167,0.2);
  object-fit: cover;
   object-position: center center;
  height: 140px;
  width: 140px;
  margin-top: 20px;
  margin-bottom: 10px;
    background: linear-gradient(135deg, #f6f8fa 60%, #e0e7ff 100%);
  padding: 8px;

}
body {
  background: url(../img/pexels-codioful-7135014.jpg) no-repeat center center fixed;
  background-size: cover;
  /* Puedes combinar también con un color de fondo para mejor acceso */
}
.perfil-img {
  object-fit: cover;
  object-position: center;
  width: 120px;
  height: 120px;
  border: 4px solid #bfdafd;
  box-shadow: 0 4px 12px rgba(36,71,124,0.08);
}
.card {
  border-radius: 1.2rem;
}
